<!-- Views/Home/Index.cshtml -->
@{
    ViewBag.Title = "Home Page";
}

<h5>Welcome to the Custom Apparel Design Platform</h5>
<br />
<hr />
<p>
    <a href="@Url.Action("Design", "Home")" class="btn btn-primary">Start Designing</a>
</p>
